:root {
    --clr-space: #1b2845;
    --clr-indggo: #274060;
    --clr-biazzled: #335c81;
    --clr-light-blue: #5899E2;
    --clr-black: #0d0d0d;
    --clr-background: #f2f2f2f2;
    --clr-white: #f4f4f4c9;
    --clr-white-2: #fff;
    --clr-submit: #12b800;
}